 .bulkEmailEditor > * {
  border-color: unset !important;
  border: none !important;

}

.bulkEmailEditor .ck-editor__editable_inline {
  min-height: 200px;
} 

.bulkEmailEditor .ck.ck-editor__main{
  max-height: 343px;
  overflow-y: auto;
  padding-bottom: 5px;
}

.bulkEmailEditor .ck-toolbar {
  border: none !important;
}

.bulkEmailEditor .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
  box-shadow: unset !important;
  border-color: unset !important;
  border: none !important;
}
