@import "../../../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../../../node_modules/@syncfusion/ej2-react-navigations/styles/material.css";
@import "../../../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";

.nested-data, .list-data {
    padding: 15px;
    margin-bottom: 25px;
}
.content {
    margin: 0 auto;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
.content h4 {
    padding: 0 10px;
}